altgraph==0.17
certifi==2019.9.11
cycler==0.10.0
kiwisolver==1.2.0
numpy==1.19.0
Pillow==7.2.0
pipenv==2018.11.26
PyInstaller==3.6
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
PyQt5-stubs==5.14.2.2
PySide2==5.15.0
python-dateutil==2.8.1
scipy==1.5.1
shiboken2==5.15.0
six==1.15.0
virtualenv==16.7.7
virtualenv-clone==0.5.3
opencv-python~=4.5.1.48
scikit-image~=0.18.1